img.logo {
    float:right;
    width:150%;
    padding: 0px;
}

.menu-icon{
    font-size:1.8em;
}
.menu-button{
    float:center;
    background-color:transparent;
    border:none!important;
    border: solid transparent;
   
    
    
}

