@import 'scss/colors.scss';

.food-quality > div {
    padding-left: 0;
    padding-right: 0;
}

.quality-caption {
    display: block;
}

.quality-img {
    background-color: #f2f2f2;
    border-radius: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}

.left .quality-img {
    float: right;
}

.left .quality-caption {
    margin-right: 80px;
    text-align: right;
}

.right .quality-img {
    float: left;
}

.right .quality-caption {
    margin-left: 80px;
    text-align: left;
}

