@import 'scss/colors.scss';

.footer {
  hr {
    border-color: $red;
    border-width: 3px;
    max-width: 50px;
  }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.footer-icons{
  font-size: 1em;
  vertical-align:center;
  padding-right:1px;
}